<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách hóa đơn - For The Love</title>
    <link rel="icon" href="/slider_1-main/image/ok.png" type="image/png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/slider_1-main/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css"/>

    <style>
        table.table th, table.table td {
            text-align: center;
            vertical-align: middle;
        }

        body {
            color: black;
        }

        .btnAction:hover {
            border: none;
        }

        #backButton {
            position: absolute;
            display: block;
            justify-content: flex-start; /* Căn nút về phía trái */
            color: #100f0f;
            background: none;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }


        #backButton i {
            font-size: 30px;
        }

        #backButton:hover {
            transform: scale(1.1); /* Nút to ra khi hover */
        }

        #backButton::after {
            content: "Trở về"; /* Chú thích */
            position: absolute;
            top: 50%; /* Căn giữa theo chiều dọc so với nút */
            right: 120%; /* Hiển thị bên trái nút */
            transform: translateY(-50%); /* Căn giữa theo chiều dọc */
            background-color: white; /* Nền trắng */
            color: black; /* Màu chữ đen */
            padding: 5px 10px;
            font-size: 12px;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Đổ bóng cho chú thích */
            opacity: 0;
            pointer-events: none;
            white-space: nowrap; /* Giữ chữ nằm ngang */
            transition: opacity 0.3s ease;
        }

        #backButton:hover::after {
            opacity: 1; /* Hiện chú thích khi hover */
        }

    </style>
</head>


<body>
<div class="container mt-4">
    <div class="mb-4">
        <!-- Back to Home Button (căn trái) -->
        <a th:href="@{/index}" id="backButton">
            <i class="bi bi-chevron-double-left"></i>
        </a>
        <!-- Invoice List Title (căn giữa) -->
        <h1 class="mb-0 text-center">📋 Danh Sách Hóa Đơn</h1>
    </div>

    <table id="myTable" class="table-striped table-bordered">
        <thead>
        <tr>
            <th class="text-center text-black">STT</th>
            <th class="text-center text-black">Tên phim</th>
            <th class="text-center text-black">Thời gian chiếu</th>
            <th class="text-center text-black">Phòng chiếu</th>
            <th class="text-center text-black">Ngày thanh toán</th>
            <th class="text-center text-black">Tổng tiền</th>
            <th class="text-center text-black">Trạng thái</th>
            <th class="text-center text-black">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice, iterStat : ${invoices}">
            <td class="text-center text-black font-weight-normal" th:text="${iterStat.index + 1}"></td>
            <td class="text-center text-black font-weight-normal" th:text="${invoice.showtime.movie.movieName}"></td>
            <td class="text-center text-black font-weight-normal" th:text="${invoice.showtime.startTime} + ' - ' + ${invoice.showtime.endTime}"></td>
            <td class="text-center text-black font-weight-normal" th:text="${invoice.showtime.room.roomName}"></td>
            <td class="text-center text-black font-weight-normal" th:text="${invoice.bookingDate} + ', ' + ${invoice.bookingTime}"></td>
            <td class="text-center text-black font-weight-normal amount" th:text="${invoice.totalAmount}"></td>
            <td class="text-center text-black font-weight-normal" th:text="${invoice.status}"></td>
            <td>
                <button class="btn btnAction" style="background-color: #ff4971; color: #ffff" data-toggle="modal"
                        th:data-target="'#ticketsModal-' + ${invoice.invoiceId}">Xem Thêm
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:each="invoice : ${invoices}">
        <div class="modal fade" th:id="'ticketsModal-' + ${invoice.invoiceId}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" style="max-width: 80%;" role="document">
                <div class="modal-content">
                    <div class="modal-header " style="background-color: #ff4971">
                        <h5 class="modal-title"
                            style="color: #fff">Thông tin hóa đơn</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-4">
                            <div class="col-md-4 text-center">
                                <h5 style="color: black">QR Code nhận vé</h5>
                                <img th:if="${qrCodeMap[invoice.invoiceId] != null}"
                                     th:src="'data:image/png;base64,' + ${qrCodeMap[invoice.invoiceId]}"
                                     alt="QR Code" style="width:200px; height:200px;">
                                <div class="text-center mt-2" style="color: black">
                                    <p style="font-weight: 400;"><em>Lưu ý: Quý khách vui lòng cung cấp mã này cho nhân viên để hoàn tất thủ tục nhận vé.</em>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h5 style="color: black">Danh sách vé</h5>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên ghế</th>
                                        <th>Phòng</th>
                                        <th>Tên rạp</th>
                                        <th>Địa chỉ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="ticket, ticketStat : ${invoice.tickets}">
                                        <td th:text="${ticketStat.index + 1}"></td>
                                        <td th:text="${ticket.seat.seatName}"></td>
                                        <td th:text="${ticket.seat.room.roomName}"></td>
                                        <td th:text="${ticket.invoice.showtime.cinemaInformation.cinemaName}"></td>
                                        <td th:text="${ticket.invoice.showtime.cinemaInformation.address}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <!-- Hiển thị bảng nếu có sản phẩm -->
                        <div th:if="${invoice.invoiceDetails != null and !invoice.invoiceDetails.isEmpty()}">
                            <h5 style="color: black">Danh sách sản phẩm</h5>
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="invoiceDetail, detailStat : ${invoice.invoiceDetails}">
                                    <td th:text="${detailStat.index + 1}"></td>
                                    <td th:text="${invoiceDetail.product.productName}"></td>
                                    <td th:text="${invoiceDetail.quantity}"></td>
                                    <td class="amount" th:text="${invoiceDetail.price}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <h5 style="color: black">Thông Tin Phim</h5>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên phim</th>
                                <th>Thời lượng</th>
                                <th>Đạo diễn</th>
                                <th>Thể loại</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="'1'"></td>
                                <td th:text="${invoice.showtime.movie.movieName}"></td>
                                <td th:text="${invoice.showtime.movie.duration + ' phút'}"></td>
                                <td th:text="${invoice.showtime.movie.director}"></td>
                                <td th:text="${invoice.showtime.movie.genre}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const amountElements = document.querySelectorAll('.amount');
        amountElements.forEach(el => {
            const amount = parseInt(el.innerText);
            el.innerText = formatCurrencyVND(amount);
        });
    });

    function formatCurrencyVND(amount) {
        return new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(amount).replace('₫', 'VNĐ');
    }

    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "sSearch": "Tìm kiếm:", // "Search"
                "sLengthMenu": "Hiển thị _MENU_ mục", // "Show _MENU_ entries"
                "sInfo": "Đang hiển thị từ _START_ đến _END_ trong tổng số _TOTAL_ mục", // "Showing _START_ to _END_ of _TOTAL_ entries"
                "sInfoEmpty": "Không có mục nào", // "Showing 0 to 0 of 0 entries"
                "sInfoFiltered": "(lọc từ _MAX_ mục)",
                "sEmptyTable": "Không có dữ liệu", // Thông báo nếu bảng không có dữ liệu
                "sZeroRecords": "Không tìm thấy",  // Thông báo tìm kiếm không có kết quả
                "sInfoPostFix": "", // Không thay đổi
                "oPaginate": {
                    "sFirst": "Đầu tiên", // "First"
                    "sPrevious": "Trước", // "Previous"
                    "sNext": "Tiếp theo", // "Next"
                    "sLast": "Cuối cùng" // "Last"
                },
                "oAria": {
                    "sSortAscending": ": Kích hoạt để sắp xếp theo thứ tự tăng dần", // ": activate to sort column ascending"
                    "sSortDescending": ": Kích hoạt để sắp xếp theo thứ tự giảm dần" // ": activate to sort column descending"
                }
            }
        });
    });

</script>

<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
</body>
</html>
