<footer class="footer-48201">
	<div class="container">
		<div class="row">
			<div class="col-md-1 pr-md-5">
				<a th:href="@{/index}" class="footer-site-logo d-block mb-4"> <img
					src="/slider_1-main/image/ok.png" alt="" width="55" height="50"
					class="d-inline-block align-text-top rounded-circle ">
				</a>

			</div>
			<div class="col-md">
				<ul class="list-unstyled nav-links">
					<span class="ft-td-in">Mua vé xem phim</span>
					<br>
					<li class="mb-1"><a th:href="@{/index}" class="nd-ft">Trang
							chủ</a></li>
					<li class="mb-1"><a th:href="@{/movies-with-showtimes}"
						class="nd-ft">Phim đang chiếu</a></li>
					<li class="mb-1"><a th:href="@{/movies-without-showtimes}"
						class="nd-ft">Phim sắp chiếu</a></li>
				</ul>
			</div>
			<div class="col-md">
				<span class="ft-td-in">Mua vé xem phim</span>
				<ul class="list-unstyled nav-links">
					<li class="mb-1"><a th:href="@{/forgot-password}"
						style="text-decoration: none;"> Quên mật khẩu </a></li>
					<li class="mb-1"><a th:href="@{/login}"
						style="text-decoration: none;"> Đăng nhập </a></li>
					<li class="mb-1"><a th:href="@{/register}"
						style="text-decoration: none;"> Đăng ký </a></li>

				</ul>
			</div>
			<div class="col-md">
				<ul class="list-unstyled nav-links">
					<span class="ft-td-in">Chăm sóc khách hàng</span>
					<br>
					<p class="td-nho mt-2">
						Địa chỉ: <span class="nd-ft"> Lầu 6, Toà nhà Phú Mỹ Hưng,
							số 8 Hoàng Văn Thái, khu phố 1, Phường Tân Phú, Quận 7, Thành phố
							Hồ Chí Minh </span>
					</p>
					<p class="td-nho">
						Hotline: <span class="nd-ft">0978 610 781 <span
							class="td-nh-nghien">(Phí 1.000đ/phút)</span></span>
					</p>
					<p class="td-nho">
						Email: <span class="nd-ft"> forthelove05062004@gmail.com </span>
					</p>
				</ul>
			</div>
			<div class="col-md text-md-center">
				<span class="custom-span-kn">Kết nối với chúng tôi</span>
				<div style="margin-top: 10px;">
					<!-- Icon Zalo -->
					<a href="https://zalo.me/0837427540" target="_blank"
						style="margin-right: 15px;"> <img
						src="/slider_1-main/image/Icon_of_Zalo.png" alt="Zalo"
						style="width: 30px; height: 30px;">
					</a>


					<!-- Icon Gmail -->
					<a href="forthelove05062004@gmail.com" style="margin-right: 15px;">
						<img src="https://cdn-icons-png.flaticon.com/512/281/281769.png"
						alt="Gmail" style="width: 30px; height: 30px;">
					</a>
					<!-- Icon Số điện thoại -->
					<a href="0837427540"> <img
						src="https://cdn-icons-png.flaticon.com/512/724/724664.png"
						alt="Số điện thoại" style="width: 30px; height: 30px;">
					</a>
				</div>
			</div>

		</div>

		<div class="row ">
			<div class="col-12 text-center">
				<div class="copyright mt-5 pt-5">
					<p>
						<small style="color: deeppink;">&copy; 2019-2020 All
							Rights Reserved.</small>
					</p>
				</div>
			</div>
		</div>
	</div>

</footer>