<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="footlink">
   	<!--   Core JS Files   -->
	<script src="../assets/js/core/jquery-3.7.1.min.js"></script>
	<script src="../assets/js/core/popper.min.js"></script>
	<script src="../assets/js/core/bootstrap.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script
			src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

	<!-- Chart JS -->
	<script src="../assets/js/plugin/chart.js/chart.min.js"></script>

	<!-- jQuery Sparkline -->
	<script
			src="../assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

	<!-- Chart Circle -->
	<script src="../assets/js/plugin/chart-circle/circles.min.js"></script>

	<!-- Datatables -->
	<script src="../assets/js/plugin/datatables/datatables.min.js"></script>

	<!-- Bootstrap Notify -->
	<script
			src="../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

	<!-- jQuery Vector Maps -->
	<script src="../assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
	<script src="../assets/js/plugin/jsvectormap/world.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#myTable').DataTable();
		});
		
		document.addEventListener("DOMContentLoaded", function () {
		    const collapseItems = document.querySelectorAll('.collapse');

		    // Khôi phục trạng thái từ LocalStorage
		    collapseItems.forEach(item => {
		        const id = item.getAttribute('id');
		        const state = localStorage.getItem(id);

		        if (state === 'true') {
		            item.classList.add('show'); // Mở mục nếu được lưu là "true"
		        } else {
		            item.classList.remove('show'); // Đóng mục nếu được lưu là "false"
		        }
		    });

		    // Lưu trạng thái khi đóng/mở
		    collapseItems.forEach(item => {
		        item.addEventListener('shown.bs.collapse', function () {
		            const id = item.getAttribute('id');
		            localStorage.setItem(id, 'true'); // Lưu trạng thái mở
		        });

		        item.addEventListener('hidden.bs.collapse', function () {
		            const id = item.getAttribute('id');
		            localStorage.setItem(id, 'false'); // Lưu trạng thái đóng
		        });
		    });
		});
	</script>
	
	<!-- Google Maps Plugin -->
	<script src="../assets/js/plugin/gmaps/gmaps.js"></script>
	<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
	<!-- Sweet Alert -->
	<script src="../assets/js/plugin/sweetalert/sweetalert.min.js"></script>

	<!-- Kaiadmin JS -->
	<script src="../assets/js/kaiadmin.min.js"></script>

	<!-- Kaiadmin DEMO methods, don't include it in your project! -->
	<script src="../assets/js/setting-demo2.js"></script>
</body>
</html>
