/* From Uiverse.io by micaelgomestavares */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: auto;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
    align-self: flex-end;
}

.flex-column>label {
    color: #151717;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row>div>label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

.button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #252727;
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    border: 1px solid #2d79f3;
}

.custom-tieude {
    font-size: 40px;
    text-align: center;
    /* Centers the text horizontally */
    display: flex;
    /* Sets display to flex */
    justify-content: center;
    /* Centers content horizontally */
    align-items: center;
    /* Centers content vertically */
    height: 100%;
    /* Optional: set a height to make vertical centering work */
}

/* ================== FOOTTER============= */

.content {
    height: 70vh;
}

.footer-48201 {
    padding: 7rem 0;
    background-color: #000;
    color: #777;
}

.footer-48201 .footer-site-logo {
    font-size: 1.5rem;
    color: #fff;
}

.footer-48201 .nav-links li {
    margin-bottom: 10px;
}

.footer-48201 .nav-links li a {
    color: gray;
}

.footer-48201 .nav-links li a:hover {
    color: #fff;
}

.footer-48201 .btn.btn-tertiary {
    background-color: #e42c64;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}

.footer-48201 .social li {
    display: inline-block;
}

.footer-48201 .social li a {
    color: gray;
    padding: 7px;
}

.footer-48201 .social li a:hover {
    color: #fff;
}

.footer-48201 .copyright {
    border-top: 1px solid #404040;
}

.footer-48201 a {
    text-decoration: none;
}


/* =========================================== ICON FOOTER*/
/* From Uiverse.io by WAIOKYERE */
ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    color: #4d4d4d;
    background-color: #ffff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="spotify"] .filled,
.example-2 .icon-content a[data-social="spotify"]~.tooltip {
    background-color: #1db954;
}

.example-2 .icon-content a[data-social="pinterest"] .filled,
.example-2 .icon-content a[data-social="pinterest"]~.tooltip {
    background-color: #bd081c;
}

.example-2 .icon-content a[data-social="dribbble"] .filled,
.example-2 .icon-content a[data-social="dribbble"]~.tooltip {
    background-color: #ea4c89;
}

.example-2 .icon-content a[data-social="telegram"] .filled,
.example-2 .icon-content a[data-social="telegram"]~.tooltip {
    background-color: #0088cc;
}

.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"]~.tooltip {
    background-color: #0088cc;
}

/* =========================================== Liên hệ với chúng tôi btn=======================*/
/* From Uiverse.io by zanina-yassine */
button#space-btn {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 0;
    outline: 0;
    border-radius: 11px;
    background: #03001e;
    background: linear-gradient(80deg, #ffcbf2, #ec38bc, #7303c0, #03001e);
    cursor: pointer;
}

.btn-container {
    width: 200px;
    height: 60px;
    position: relative;
    overflow: visible;
    float: right;
}

.btn-container a {
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.btn-container a:hover {
    color: white;
}

.btn-container::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: -1;
    background: #03001e;
    background: linear-gradient(80deg, #ffcbf2, #ec38bc, #7303c0, #03001e);
    filter: blur(20px);
    opacity: 0;
}

.btn-container:hover {
    transform: scale(1.1);
    transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.btn-container:hover:after {
    transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
    opacity: 0.6;
}



button#space-btn div.star {
    width: 1px;
    height: 1px;
    background-color: white;
    border-radius: 50%;
    animation: blink 2s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

button#space-btn div.shooting-star {
    width: 80px;
    height: 1px;
    position: absolute;
    background: linear-gradient(80deg, #ffffffff, #ffffff00);
    border-radius: 50%;
    transform: rotate(-40deg);
    opacity: 0
}

button#space-btn div.shooting-star-1 {
    animation: fallingStar1 4s 6s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

button#space-btn div.shooting-star-2 {
    animation: fallingStar2 2s 10s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

button#space-btn div.shooting-star-3 {
    animation: fallingStar3 8s 20s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

button#space-btn div.shooting-star-4 {
    animation: fallingStar4 4s 6s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

@keyframes blink {
    0% {
        box-shadow: 0 0 10px 0 white;
    }

    50% {
        box-shadow: 0 0 10px 2px white;
    }

    100% {
        box-shadow: 0 0 10px 0 white;
    }
}

@keyframes fallingStar1 {
    0% {
        top: -10px;
        left: 220px;
        opacity: 1;
    }

    100% {
        top: 200px;
        left: -20px;
        opacity: 1;
    }
}

@keyframes fallingStar2 {
    0% {
        top: -10px;
        left: 150px;
        opacity: 1;
    }

    100% {
        top: 200px;
        left: -90px;
        opacity: 1;
    }
}

@keyframes fallingStar3 {
    0% {
        top: -10px;
        left: 80px;
        opacity: 1
    }

    100% {
        top: 200px;
        left: -160px;
        opacity: 1
    }
}

@keyframes fallingStar4 {
    0% {
        top: -10px;
        left: 0px;
        opacity: 1;
    }

    100% {
        top: 200px;
        left: -240px;
        opacity: 1;
    }
}

.border-0 {
    background: none;
}

/* =========================================== khung1*/
/* =========================================== SEND MAIL*/
/* From Uiverse.io by mobinkakei */
.btn-shine {
    position: relative;
    margin: 0;
    padding: 10px 30px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    color: #1d89ff;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    width: 100%;
}

.btn-shine span {
    color: #164ca7;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.btn-shine:hover {
    animation: rotate624 0.7s ease-in-out both;
}

.btn-shine:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate624 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm1261 {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

.btn-shine {
    border: 1px solid;
    overflow: hidden;
    position: relative;
}

.btn-shine span {
    z-index: 20;
}

.btn-shine:after {
    background: #38ef7d;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.btn-shine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}


/* =========================================== SEND MAIL*/

/* From Uiverse.io by Yaya12085 */
.form-otp {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
}

.title-otp {
    font-size: 20px;
    font-weight: bold;
    color: black
}

.message-otp {
    color: #a3a3a3;
    font-size: 14px;
    margin-top: 4px;
    text-align: center
}

.inputs-otp {
    margin-top: 10px
}

.inputs-otp input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid #d2d2d2;
    margin: 0 10px;
}

.inputs-otp input:focus {
    border-bottom: 1.5px solid royalblue;
    outline: none;
}

.action {
    margin-top: 24px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    align-self: end;
}


/* From Uiverse.io by Nawsome */
/*bg*/
/*txt*/
/*success*/
/* From Uiverse.io by suda-code */
.btn-otp {
    padding: 11px 20px;
    border: 0;
    border-radius: 1cqh;
    background-color: #ff3d49;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin-left: 80%;
    margin-bottom: 0;
    width: 7em;
}


.btn-otp:hover {
    background-color: #ff3d49;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.btn-otp:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}